:root {
  --page-bg-color: hsl(0, 0%, 95%);
  --main-bg-color: white;
  --main-text-color: black;

  --main-accent-color: hsl(330, 100%, 71%);
  --main-accent-color-faded: pink;

  --input-active: var(--main-accent-color);
  --input-inactive: var(--main-accent-color-faded);
}

[data-theme='dark'] {
  --page-bg-color: hsl(0, 0%, 5%);
  --main-bg-color: hsl(0, 0%, 10%);
  --main-text-color: hsl(0, 0%, 90%);

  --main-accent-color-faded: #63133b;
}
