{% extends "base.html" %}

{% block title %}{{ title }} - History{% endblock title %}

{% block tabs %}
<a href="/{{ path | as_str }}">view</a>
<a>edit</a>
<a href="/meta/history/{{ path | as_str }}" class="active">history</a>
{% endblock tabs %}

{% block content %}
<ol id="commits">
  {% for commit in commits %}
  <li>
    <div class="date">{{ commit.date | date(format="%Y-%m-%d %H:%M") }}</div>
    <div class="author">({{ commit.author }})</div>
    <div class="message"><a href="/{{ path | as_str }}?revision={{ commit.hash }}">{{ commit.message }}</a></div>
  </li>
  {% endfor %}
</ol>
{% endblock content %}
