{% extends "base.html" %}

{% block title %}Create new page{% endblock title %}

{% block tabs %}
{% endblock tabs %}

{% block content %}
<div class="warning">The page at {{ path }} doesn't exist.</div>

  {% if user %}
    <div id="toolbar">
      <div>
        <select id="format">
          {% for format in supported_formats %}
          <option value="{{ format.0 }}">{{ format.1 }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <div class="toggle">
          <input id="preview-toggle" type="checkbox" autocomplete="off" />
        </div>
        <label for="preview-toggle">Preview</label>
      </div>
      <div>
        <button id="save">Save</button>
      </div>
    </div>
    <div id="editor"></div>
    <div id="preview"></div>
  {% endif %}
{% endblock content %}

{% block script %}
<script type="module">
  import { newpage_editor } from '/bundle.js';

  newpage_editor();
</script>
{% endblock script %}
